.projects-pics {
  width: 80%;
  margin: 0 auto;
  border: 3px solid black;
}

.project-item {
  padding: 1rem;
  position: relative;
  margin-right: 4rem;
}

.project-item > li {
  margin: 0.5rem;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: azure;
}

.project-item > li > a{
  display: contents;
  font-size: 3rem;
}

.project-title {
  font-size: 3rem;
  font-weight: bolder;
  margin: 2rem;
  text-align: center;
  color: azure;
}

.project-title:hover {
  text-decoration: underline;
}

.project-features {
  list-style-type: disc;
  list-style-position: inside;
  text-align: center;
  margin: 0.5rem;
  font-size: 2rem;
}

.project-github {
  position: absolute;
  top: 0;
  right: 10%;
  font-size: 4rem;
}

.project-github:hover {
  color: #995f04;
  border: 1px solid azure;
  background-color: azure;
  transform: scale(1.2);
}

#projects-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  padding: 3rem;
  background-color: #228B22;
}

@media (max-width: 900px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .moody {
    bottom: 35%;
  }
  .nextButton {
    top: 90%;
  }
}
